Name                    Version                   Build  Channel
isoweek                   1.3.3                   pypi_0    pypi
pandas                    1.5.1            py39hde7b980_0    conda-forge
pandas-datareader         0.10.0             pyh6c4a22f_0    conda-forge
pandas-summary            0.2.0                    pypi_0    pypi
keras                     2.10.0                   pypi_0    pypi
keras-preprocessing       1.1.2                    pypi_0    pypi
numpy                     1.23.2           py39h3668e8b_0    conda-forge
ipython                   8.5.0              pyhd1c38e8_1    conda-forge